.call-form.hidden{
display: none;

}
.call-form {
  position: absolute; 
  z-index: 1; 
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);  
  width: 500px; 
  height: 440px;
  overflow: auto; 
  background-color: rgba(255, 255, 255, 0.932);
  padding: 40px;
}
.call-form__close-btn {
  position: absolute;
  font-size: 3rem;
  right: 40px;
  top: 40px;
  font-weight: 800;
  cursor: pointer;
}

.call-form__title {
  font-size: 2rem;
  color: #8d6031;
  font-weight: 600;
  margin-bottom: 15px;
}
.call-form__description {
  text-align: justify;
}
.call-form__info {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;

}
.call-form__item{
  display: flex;
  flex-direction: column;
  label{
    font-size: 1.8rem;
    color: #8d6031;
    font-weight: 400;
  }
  input{
    border: 1px solid #000;
    padding: 5px;
  }

}
.error-message.active{
  display: block;
  color: red;
}
.error-message{
  display: none
}

.call-form__btn {
  margin-top: 40px;
}

