@import "./logo";
@import "./navigation";
@import "./contacts";

.header {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  padding: 20px 40px;
}
